---
import BaseLayout from "../layouts/base.astro";
---

<BaseLayout>
  <main slot="body">
    <h1>Welcome to <a href="/rss.xml">Warhammer RSS</a></h1>
    <p>Your source for the latest Warhammer news and updates.</p>
  </main>
</BaseLayout>
