<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>Warhammer RSS</title>
    <meta name="description" content="Warhammer RSS" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Warhammer RSS"
      href={new URL("rss.xml", Astro.site)}
    />
  </head>
  <body>
    <slot name="body" />
  </body>
</html>
